@import "~bootstrap/scss/bootstrap";
.alert {
  padding: 0%;
}
.notice {
  padding: 0%;
}
.nav-greeting {
  display: flex;
  flex-direction: row-reverse;
}
.card-body {
  background-color: rgb(224, 224, 224);
  text-decoration: none;
}
.navigation {
  background-color: rgb(240, 240, 240);
}
.container-fluid {
  border: grey;
}
// .container {
//   flex-flow: column wrap;
  
// }
.card-deck{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-evenly;
}