<h2>About</h2>
<br>
<h4>Australian ferret carer for the victorian ferret society (vfs)</h4>
<p></p>
<h4>is a ferret the right pet for you?</h4>
<p></p>
<p>Domestic ferrets are small, furry mammals whose average size ranges from</p>
<p></p>
<p>0.5 kilo to 2.0 kilos at maturity. This also depends on whether they are male or female.</p>
<p></p>
<p></p>
<p></p>
<h4>Is the ferret a wild animal?</h4>
<p></p>
<p>Unlike its cousins, the otter, weasel, badger and skunk, the domestic pet ferret is</p>
<p></p>
<p>not a wild animal. Ferrets were domesticated by humans around 63 bc.</p>
<p></p>
<p>Most ferrets are happiest in pairs or in small groups, especially young ferrets as they are very demanding.</p>
<p></p>
<p>Adults tend to be calmer and can be more suitable for first time ferret owners. Most de-sexed ferrets will get on with others. New ferrets will require time to settle into the household.</p>
<p></p>
<p></p>
<p></p>
<h4>Do ferrets make good pets?</h4>
<p></p>
<p>Yes! Ferrets combine the best features of dogs and cats with some unique features of their own. Like cats, ferrets are small and quiet. Like dogs, they are affectionate, playful, and enjoy human interaction. They are independent, yet enjoy being with people. Their mischievous and playful nature, retained well into old age, makes them entertaining companions.</p>
<p></p>
<p>When buying a ferret look for bright, clear eyes, healthy skin, unbroken whiskers, soft coat, clean healthy nails and feet and a curious, alert attitude. Be on the lookout for signs of mange or other mite infestation.</p>
<p></p>
<p>Do not buy a ferret if the seller is not prepared to take the ferret back within a reasonable period if you change your mind. If the domestic ferret escapes outdoors, it rarely survives for more than a few days. So we recommend that they get micro-chipped.</p>
<p></p>
<p></p>
<p></p>
<h4>How intelligent is a ferret?</h4>
<p></p>
<p>Ferrets will surprise and delight you with what they can do and learn. They recognize their name, respond to verbal and visual commands, and can even learn to do tricks. Ferrets can also be litter-box trained.</p>
<p></p>
<p></p>
<p></p>
<h4>Do ferrets bite?</h4>
<p></p>
<p>A healthy, well-trained ferret should not bite. Like all pets, ferrets need to be taught what acceptable behaviour is. Ferrets have a lower bite rate than other household pets - you are less likely to be bit by a ferret than by the family dog.</p>
<p></p>
<p>Many people confuse playful nipping for biting. They will often hold onto other ferrets by their teeth when playing. This they can also be taught what is acceptable by their owner.</p>
<p></p>
<p>A well-handled pet should not be vicious though nips can be expected in rough play, over excitement or if frightened.</p>
<p></p>
<p>To discipline your ferret, a light tap on the nose and an angry &quot;no&quot; usually works. Remember that immediate discipline is essential and needs to be reinforced.</p>
<p></p>
<p>No animal should be struck with force. Hitting a ferret can actually cause it to bite more as it gets revenge for being hurt or scared.</p>
<p></p>
<h4>What should a ferret eat?</h4>
<p></p>
<p>A balanced diet and proper nutrition will lead your ferret to a long, active, and healthy life. Ferrets are strict carnivores; they require diets based on highly digestible animal (meat) protein with little to no carbohydrates.</p>
<p></p>
<p>If you choose to feed dry food choose high quality ferret foods sold by pet shops, feed stores, and veterinarians with at least 38% protein, moderate in fats (approximately 20%), and low in carbohydrates. Ferrets may eat meats, such as chicken, turkey, and beef, in moderation.</p>
<p></p>
<p>Ferrets imprint on their food during the first year of life so they should eat a mix of kibble and meats so they become accustomed to different flavours. This becomes especially important during illness, as fussy eaters are difficult to feed. Ferrets eat only when hungry so dry food and fresh water should always be available.</p>
<p></p>
<p></p>
<p></p>
<h4>What foods should i not feed my ferret?</h4>
<p></p>
<p>Ferrets should not eat dog food, poor quality cat food, sugary cereal, peanut butter, grains, carbohydrates, raisins, bananas, other fruits, vegetables, dairy products, chocolate, other sweets, or any food with sugar. All of these items are loaded with complex carbohydrates and a ferret&apos;s strictly carnivorous digestive tract cannot process these foods.</p>
<p></p>
<p></p>
<p></p>
<h4>Are ferrets nocturnal?</h4>
<p></p>
<p>Ferrets are not nocturnal. They sleep an average of 18 hours per day, but will adjust their schedule to yours and be eager to play when you are.</p>
<p></p>
<p></p>
<p></p>
<h4>Do ferrets have an odour?</h4>
<p></p>
<p>Ferrets naturally have a light, musky odour. This odour is greatly minimized when the animal is spayed or neutered. Ferrets also have scent glands which release scent as a defence. These glands can be surgically removed, but it is not recommended and will not reduce a ferret&apos;s natural scent. Frequent bathing is discouraged as it removes oils that protect the ferret&apos;s fur. This causes an over-production of oil, which may increase the ferret&apos;s natural odour. Clean bedding and a healthy diet are the best ways to minimize a ferret&apos;s odour.</p>
<p></p>
<p></p>
<p></p>
<h4>Are ferrets cage animals?</h4>
<p></p>
<p>For their protection, ferrets should be kept in a ferret-proofed area of the home or in a large, well-ventilated cage when not under human supervision.</p>
<p></p>
<p>The cage can be a simple metal frame with a minimum size of 2m2 or larger with 1.75cm2 (1/2 inch) wire mesh, (depending on size of smallest ferret) with a solid weatherproof overhanging roof.</p>
<p></p>
<p>This will comfortably accommodate 2 ferrets.</p>
<p></p>
<p>The cage can be divided into levels using hammocks or shade cloth and flexible pipes to link levels provides more space and activities. Bird aviaries with a solid floor also make excellent homes for groups of ferrets. Levels, ramps, piping, hammocks etc can be used to create more space to sleep and play. The floor should be solid, or have very small gauge wire.</p>
<p></p>
<p>The cage and play areas should include plenty of soft bedding, safe toys, and litter boxes filled with paper-based or wood-based pellet form litter. Wood shavings and sawdust are not recommended as they can be inhaled or swallowed and cause fatal blockages.</p>
<p></p>
<p>A section of cage away from the litter tray (with a solid floor that prevents food dropping through the wire) is fine as a feeding area. Solid heavy bowls for food and water are best as ferrets enjoy tipping bowls over! Some owners find mounted bottles best for water, as they are less messy.</p>
<p></p>
<p>A weatherproof plastic or wooden box (like a bird box) with easily accessible entrance hole is suitable. Bedding can be old towels, clothes, blankets etc as long as they are clean.</p>
<p></p>
<p>Ferrets must be kept in a cool area - under 27 degrees c - or they can quickly die of heatstroke, especially in summer.</p>
<p></p>
<p>Ferrets can be happily housed in a cage either outside under the balcony, or they can have the run of the house or a spare room.</p>
<p></p>
<p>Regardless of their living arrangements, ferrets need socialising every day for at least a couple of hours. Ferrets that are left in cages can become unsociable, nippy and hard to handle or they can become depressed.</p>
<p></p>
<p>They need exercise, affection, and human companionship to remain happy and healthy. Ferrets need a minimum of 2-3 hours per day out of their cage, at least 1-2 of which should include human interaction. If this cannot be achieve for long periods then a second ferret may be a good option.</p>
<p></p>
<p></p>
<p></p>
<h4>Do ferrets get along with other pets?</h4>
<p></p>
<p>A ferret&apos;s nature makes it a natural companion to many larger house pets. Introductions should be made with caution, however, and proper supervision is a must. Dogs with a strong prey drive should not be introduced to ferrets. It is not recommended that ferrets be introduced to birds, rodents (this includes hamsters, gerbils, and guinea pigs), or reptiles.</p>
<p></p>
<p></p>
<p></p>
<h4>What health care does a ferret require?</h4>
<p></p>
<p>An annual visit to a ferret-knowledgeable veterinarian helps to identify potential problems early. This yearly visit should include a careful physical exam, inspection of the ears for mites, and inspection of the teeth. Dental cleanings should be performed as necessary.</p>