<p>Fees</p>
<p></p>
<p>Adult Ferrets (6+ Months - under 4 Years):</p>
<p></p>
<p>Desexed, Vaccinated and Microchipped -</p>
<p></p>
<p></p>
<p></p>
<p>             Males      $230 ea</p>
<p></p>
<p>             Females    $260 ea</p>
<p></p>
<p>Some pairs may be discounted; usually due to age, etc</p>
<p></p>
<p></p>
<p>Kit Ferrets (16 weeks - 6 Months):</p>
<p></p>
<p>Socialised Microchipped and Vaccinated - $140 ea</p>
<p></p>
<p>     *Desexing is an additional cost that the adopter will have to pay.</p>
<p></p>
<p></p>
<p></p>
<p>Kits are vaccinated at 10 and 14 weeks old. Kits must be around 10+ weeks old before we can adopt them out.</p>
<p></p>
<p>     *Gumtree breeders DO NOT vaccinate.</p>
<p></p>
<p></p>
<p></p>
<p>Older Ferrets (4+ years):</p>
<p></p>
<p>Desexed, Vaccinated and Microchipped - $varied ea depending on individuals involved</p>
<p></p>
<p></p>
<p></p>
<p>Note: You may have to bring the selected ferret back for follow-up vaccinations, if not completed.</p>
<p></p>
<p></p>
<p>Ferret Adoption Fees</p>
<p></p>
<p>Ferret Boarding</p>
<p>If you are going away and you need someone to look after your little fuzzies, we will happily look after them whilst you are away.</p>
<p></p>
<p>Single ferrets - $15.00/day</p>
<p></p>
<p>Two ferrets - $25/day</p>
<p></p>
<p>3rd + ferret - $5/day/ferret.</p>
<p></p>
<p>Weekly Rate</p>
<p></p>
<p>1 Ferret $ 105 / Week</p>
<p></p>
<p>2 Ferrets $175 / Week</p>
<p></p>
<p>Additional Ferret are $35 / Week</p>
<p></p>
<p>Conditions do apply, please feel free to email me if you have any</p>
