


<div class="container">
    <div class="card w-85 " >
        <div class="card-body">
            <h2> *gumtree breeders do not vaccinate.* </h2>
                  <h3>adult ferrets (6+ months - under 4 years): </h3>
        <p>desexed, vaccinated and microchipped -</p>
        <p> males $230 ea</p>
        <p> females $260 ea</p>
        <p>some pairs may be discounted; usually due to age, etc</p>
        </div></div></div>
        <br>
        <div class="container">
    <div class="card w-85 " >
        <div class="card-body">
        <h3>kit ferrets (16 weeks - 6 months): </h3>
        <p>socialised microchipped and vaccinated - $140 ea</p>
        <p> *desexing is an additional cost that the adopter will have to pay. </p>
        <p>kits are vaccinated at 10 and 14 weeks old. Kits must be around 10+ weeks old before we can adopt them out. </p>
        <p>older ferrets (4+ years): </p>
                <p>desexed, vaccinated and microchipped - $varied ea depending on individuals involved</p>
                <p>note: you may have to bring the selected ferret back for follow-up vaccinations, if not completed. </p>
        </div></div></div>
        <br>
<div class="container">
    <div class="card w-85 " >

        <div class="card-body">
        <h3>ferret boarding fees</h3>
        <p>if you are going away and you need someone to look after your little fuzzies, we will happily look after them whilst you are away. </p>
        <h4>daily rate</h4>
        <p>single ferrets - $15.00/day</p>
        <p>two ferrets - $25/day</p>
        <p>3rd + ferret - $5/day/ferret. </p>
        <h4>weekly rate</h4>
        <p>1 ferret $ 105 / week</p>
        <p>2 ferrets $175 / week</p>
        <p>additional ferret are $35 / week</p>
        <p>conditions do apply, please feel free to email me if you have any</p>  
        </div>
    </div>
</div>