<p>wait list</p>
<p>intention with this page is to connect a google survey page and load the results into a json file that is 
refreshed over a certain period of time for easy access to a list for people waiting to adopt as well as an easier time for 
"sellers" to see the list of people.
</p>