<div class="container">
  <div class="card w-85 " >
    <div class="card-body">
      <h3>wait list</h3>
      <p>intention with this page is to connect a google survey page and load the results into a excel file that is 
        refreshed over a certain period of time for easy access to a list for people waiting to adopt as well as an easier time for 
        "sellers" to see the list of people.
      </p>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSedoOrBZFuNHKqSlnfWZnzXwnU-GuvbERkEiFdRjdsnX85OJg/viewform?embedded=true" style="height: 80vh; width: 100%; border: none" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </div>
</div>
